body {
  font-family: arial;
  size: 12px;
  color: white;
  background-color: white;
  text-align: center;
  position: center;
  background-image: url("https://wallpapercave.com/wp/1ecsoou.jpg");

}

a{
  color: blue;
  text-decoration: none;
}

h1 {
  font-family: block;
  color: white;
}
h2 {
  color: black;
  font-family: cursive;
}

h3{
  font-family: times;
  color: blue
}
This is a class
#box{
  font-family: times;
  border: DASHED 2px black;
  padding: 10px;
  font-size: 12px;
}
This is a id
.otherBox {
  blackground-color: black
  opacity: .4;
  color: white;
  overflow: scroll;
  background-color: black
  color: white
}
